.todo-list{
    background-color: $bg-component;
    border-radius: 10px;
    margin: 0;
    box-shadow: 0px 10px 25px rgba(29, 52, 54, 0.08);

    ul{
        list-style: none;
        margin: 0;
        padding:40px 0 56px 0;
        

    }
}